@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/common";

.pick-cont {
  @extend .container-class;
}

.step-btns {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pick-btncont {
  @extend .footer-class;
  margin-top: 15.1%;
}

@media (max-width: 940px) {
  .pick-cont {
    margin-top: 13%;
    position: absolute;
    z-index: 2;
    border-radius: 15px;
    padding: 1%;
    background-color: white;
  }
}
