@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/mixins";
@import "../../scss/base/base";

.pick-offer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pick-check {
  margin-left: 24px;
}

.pick-tittle {
  @include subtitle-L;
}

.pick-txt {
  color: $grey;
  font-size: 14px;
}

.pick-cost {
  color: $purple;
  font-size: 14px;
  margin-right: 24px;
}
