@import "../../scss/abstracts/variables";
@import "../../scss/abstracts/common";

.total-divi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

.divider {
  border-bottom: 1px solid #979797;
  width: 90%;
}

.total-bold {
  color: $denim;
  font-weight: bold;
}

.total-result {
  font-size: 20px;
  color: $purple;
  font-weight: bold;
}

.total-calcP {
  @extend .total-calc;
}

.total-txtP {
  @extend .total-txt;
}
