@import "../base/base";
@import "./variables";

.container-class {
  width: 50%;
  margin-left: 10%;
  margin-top: 6.1%;
  font-family: $font-family-ubuntu;
}

.footer-class {
  margin-top: 19.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-calc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 23px;
  padding-left: 24px;
  padding-right: 24px;
}

.total-txt {
  font-size: 14px;
  color: $grey;
}
