@mixin subtitle-L {
  color: $denim;
  font-size: 16px;
}

@mixin subtitle-Sm {
  color: $denim;
  font-size: 14px;
}

@mixin text-L {
  color: $grey;
  font-size: 14px;
}

@mixin text-Sm {
  color: $grey;
  font-size: 12px;
}
