$bg: #eff5ff;
$white: #fff;
$bg-pink: #483eff;
$md: 768px;
$light-blue: #abbcff;
$sky-blue: #bee2fd;
$denim: #022959;
$grey: #9699aa;
$red-errors: #ee374a;
$purple: #483eff;
$border-color: #d6d9e6;
$very-light-grey: #f8f9ff;
