@import "../../scss/abstracts/variables";

.footer-backbtn {
  text-decoration: none;
  color: $grey;
  cursor: pointer;
}

.footer-nextbtn {
  color: white;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.footer-cont:hover {
  background-color: rgb(0, 105, 217);
}

.footer-cont {
  width: 128px;
  height: 48px;
  background-color: $denim;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
