.step-banner {
  width: 28.5%;
  height: 94%;
  border-radius: 10px;
  margin-left: 16px;
  margin-top: 16px;
  background-image: url("/Banner-Background-Oval.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.step-steppingStones {
  margin-top: 40px;
  margin-left: 32px;
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 940px) {
  .step-banner {
    margin-left: 0%;
    margin-top: 0%;
    border-radius: 0%;
    height: 20%;
    width: 70%;
    background-image: url("/Banner-Background-Mobile.png");
    position: absolute;
    z-index: 1;
  }

  .step-steppingStones {
    flex-direction: row;
    height: 50%;
    margin-left: 15%;
  }
}
